@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap");

:root {
  --clr-accent: #3882f6;
  --clr-100: #f9faf8;
  --clr-200: #e5e8eb;
  --clr-800: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.dark-bg {
  background-color: var(--clr-800);
}

.grey-bg {
  background-color: var(--clr-200);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.nav-section > a {
  font-size: 1.5rem;
  color: var(--clr-100);
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links > li > a {
  color: var(--clr-200);
  font-size: 1.125rem;
}

.hero-section {
  display: flex;
  padding: 5rem 0;
  gap: 2rem;
}

.hero-left > h1 {
  font-size: 3rem;
  color: var(--clr-100);
  font-weight: 900;
  margin-bottom: 1rem;
}

.hero-left > p {
  color: var(--clr-200);
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.hero-right > img {
  width: 100%;
  height: 80%;

  object-fit: cover;
}

.button {
  background-color: var(--clr-accent);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  color: var(--clr-100);
  font-weight: 900;
}

.info-section {
  text-align: center;
  padding: 2rem 3rem 10rem;
}

.info-section > h2 {
  margin-bottom: 3rem;
  font-size: 2.25rem;
  font-weight: 900;
  color: var(--clr-800);
}

.info-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.info-pictures > figure {
  width: 200px;
}

figure > img {
  border: 3px solid var(--clr-accent);
  width: 200px;
  height: 200px;
  border-radius: 1rem;
}

.testimonial-section {
  background-color: var(--clr-200);
  padding: 5rem;
  margin: 0 auto;
}

.testimonial-section p {
  font-weight: 100;
  font-style: italic;
  color: var(--clr-800);
  font-size: 2.25rem;
}

.testimonial-section figcaption {
  text-align: right;
  font-weight: 900;
  font-size: 1.125rem;
}
